<div class="w-100" style="background-image: url(/img/img-cursos/background-newsletter.png); background-repeat: no-repeat; background-position: center; background-size: cover; ">
    <div class=" d-lg-flex justify-lg-content-around p-5 container align-items-center text-center">


        <div class="col-lg-6">
            <h4 class="text-light">Suscribete para recibir ofertas</h4>
        </div>
        <div class="col-lg-6">
            <button class="btn btn-outline-dark text-light">SUSCRIBIRME</button>
        </div>
    </div>
</div>


<footer class="d-flex mt-0 mb-0" style="background-color: #000000 ;">
    <div class="container  d-lg-flex justify-content-lg-between">
        <div class="container-dir mt-5 mb-5">

            <img class="mb-5" src="/img/logo-edufal-transparente.png" alt="logo edufal web" style="width: 220px; height: 70px;">
        </div>

        <div class="container-dir mt-5 mb-5">
            <h6 class="text-white mb-3"><strong>DIRECCION</strong></h6>
            <h6 class="text-white"><i class="bi bi-geo-alt-fill me-2"></i>Calle Primera #59</h6>
            <h6 style="margin-left: 25px;" class="text-white">Sector Enriquillo de Herrera</h6>
            <h6 style="margin-left: 25px;" class="text-white">Santo Domingo R.D</h6>
            <h6 class="text-white"><i class="bi bi-envelope-fill me-2"></i>contacto@rosfal.com</h6>
            <h6 class="text-white"><i class="bi bi-telephone-fill me-2"></i>829-856-0203</h6>
        </div>
        <div class="container-link mt-5 mb-5">
            <h6 class="text-white mb-3"><strong>LINKS DE INTERES</strong></h6>
            <a class="text-white text-decoration-none" href="/">
                <li>Inicio</li>
            </a>
            <a class="text-white text-decoration-none" href="/quienes-somos">
                <li>Quienes Somos</li>
            </a>
            <a class="text-white text-decoration-none" href="/talleres">
                <li>Talleres</li>
            </a>
            <a class="text-white text-decoration-none" href="/cursos">
                <li>Cursos</li>
            </a>


            <a class="text-white text-decoration-none" href="/ofertas-inscripciones">
                <li>Ofertas Inscripciones</li>
            </a>
            <a class="text-white text-decoration-none" href="/preguntas-frecuentes">
                <li>Preguntas Frecuentes</li>
            </a>
            <a class="text-white text-decoration-none" href="/vacantes">
                <li>Vacantes</li>
            </a>
            <a class="text-white text-decoration-none" href="/contactos">
                <li>Contactos</li>
            </a>
            <a class="text-white text-decoration-none" href="/login">
                <li>Panel Administracion</li>
            </a>
        </div>
        <div class="container-redes mt-5 mb-5">
            <h6 class="text-white mb-3"><strong>NUESTRAS REDES SOCIALES</strong></h6>
            <a href="https://www.facebook.com/rosfalrd/" target="_blank"> <img style="width: 40px;" src="/img/logo-facebook.png" alt="facebook"></a>
            <a href="https://www.instagram.com/rosfalrd/" target="_blank"> <img style="width: 40px;" src="/img/logo-instagram.png" alt="instagram"></a>
            <a href="https://bit.ly/3xzs0RV" target="_blank"> <img style="width: 40px;" src="/img/logo-ws-navar-footer.png" alt="ws"></a>
            <a href="#"> <img style="width: 40px;" src="/img/logo-twiter.png" alt="twier"></a>
        </div>
    </div>
</footer>
<hr class="mt-0 mb-0">
<div class="mt-0 mb-0" style="background-color:#000000 ;">
    <p class="text-white text-center pt-3 pb-3 m-0">© Copyright 2023 - Edufal Online</p>
</div>