<div class="container-fluid d-flex align-items-center" style="background-color: #000000;">
    <div class="container d-lg-flex align-items-center justify-content-between">
        <div class="d-lg-flex">

            <a class="text-decoration-none" href="contacto@edufalonline.com" target="_blank">
                <p class="text-light m-0 me-4 d-flex" style="font-size: large;"><i
                        class="bi bi-envelope-check me-2"></i>contacto@edufalonline.com</p>
            </a>
            <a class="text-decoration-none" href="https://bit.ly/3xzs0RV" target="_blank">
                <p class="text-light m-0 " style="font-size: large;"><i
                        class="bi bi-telephone-forward me-2"></i>829-856-0203</p>
            </a>
        </div>
        <div class="container-redes align-items-center d-flex ">
            <div class="text-white align-items-center me-4">

                <p class="m-0 text-truncate">Siguenos en</p>
            </div>
            <div>

                <!-- <h6 class="text-white mb-3"><strong>NUESTRAS REDES SOCIALES</strong></h6> -->
                <a href="https://www.facebook.com/rosfalrd/" target="_blank"> <img style="width: 30px;"
                        src="/img/logo-facebook.png" alt="facebook"></a>
                <a href="https://www.instagram.com/rosfalrd/" target="_blank"> <img style="width: 30px;"
                        src="/img/logo-instagram.png" alt="instagram"></a>
                <a href="https://bit.ly/3pUAZZq" target="_blank"> <img style="width: 30px;"
                        src="/img/logo-ws-navar-footer.png" alt="ws"></a>
                <a href="#"> <img style="width: 30px;" src="/img/logo-twiter.png" alt="twier"></a>
            </div>
        </div>
        <!-- <a href="/login" class="m">LOGIN</a> -->
    </div>
    <a class="text-decoration-none d-none d-sm-block" href="https://edufalonline.com/aulavirtual/login/"
        target="_blank">
        <h5 class="text-light text-truncate " style="font-size: large; margin-top: 6px;">Aula Virtual</h5>
    </a>
</div>

<div style="">


    <div class="container ">
        <nav class="navbar navbar-expand-lg navbar-light bg-0 p-0 ">


            <a class="navbar-brand " href="/"><img src="/img/logo-edufal.jpg" style="width: 220; height: 70px;"
                    alt="logo edufal"></a>
            <!-- <div class="container-fluid"> -->

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse  justify-content-around" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link me-lg-3 " style="font-size: 15px;" href="/"><strong
                                class="hover">INICIO</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link me-lg-3 " style="font-size: 15px;" href="/quienes-somos"><strong
                                class="hover text-truncate">QUIENES SOMOS</strong></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link me-lg-3 " style="font-size: 15px;" href="/cursos_talleres"><strong
                                class="hover text-truncate">CURSOS & TALLERES</strong></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link me-lg-3" style="font-size: 15px;" href="/ofertas-inscripciones"><strong
                                class="hover text-truncate">OFERTAS INSCRIPCION</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link me-lg-3" style="font-size: 15px;" href="/preguntas-frecuentes"><strong
                                class="hover text-truncate">PREGUNTAS
                                FRECUENTES</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link me-lg-3 " style="font-size: 15px;" href="/vacantes"><strong
                                class="hover">VACANTES</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link me-lg-3" style="font-size: 15px;" href="/contactos"><strong
                                class="hover">CONTACTOS</strong></a>
                    </li>
                    <li class="nav-item d-lg-none">
                        <a class="nav-link me-lg-3" style="font-size: 15px;"
                            href="https://edufalonline.com/aulavirtual/login/"><strong class="hover text-truncate">Aula
                                Virtual</strong></a>
                    </li>

                </ul>
            </div>
            <!-- </div> -->

        </nav>
    </div>
</div>