<%- include('template/cabecera'); %>

    <div class="container-fluid">

        <h3>Pagina de configuracion</h3>
        <img src="/img/SITIO-EN-CONSTRUCCION.jpg" alt="sitio en contruccion" class="w-75">


    </div>




    <%- include('template/footer'); %>