<%- include('template/cabecera', { tituloWeb: "Nomina - Configuracion" , bgActive1: "" , bgActive2: "" , bgActive3: "" ,
    bgActive4: "" , bgActive5: "" , bgActive6: "active" }); %>

    <div class="container-fluid mt-5">
        <h2 class="text-secondary">Configuracion</h2>





    </div>




    <%- include('template/footer'); %>