<%- include('template/cabecera', { tituloWeb: "Nomina - Pagos" , bgActive1: "" , bgActive2: "" , bgActive3: "" ,
    bgActive4: "active" , bgActive5: "" , bgActive6: "" }); %>

    <div class="container-fluid mt-5">
        <h2 class="text-secondary">Pagos</h2>
        <hr>





    </div>




    <%- include('template/footer'); %>