<%- include('template/cabecera', { tituloWeb: "Nomina - Reportes" , bgActive1: "" , bgActive2: "" , bgActive3: "" ,
    bgActive4: "" , bgActive5: "active" , bgActive6: "" }); %>

    <div class="container-fluid mt-5">

        <h2 class="text-secondary">Reportes</h2>


    </div>




    <%- include('template/footer'); %>