<!DOCTYPE html>
<html lang="es">

<%- include('front-end-template/head', { tituloWeb: "Edufal Online - Talleres" }); %>

    <%- include('front-end-template/navbar'); %>


        <body>
            <h1>Talleres</h1>
        </body>



        <%- include('front-end-template/footer'); %>

</html>