</div>

<footer class="" style="height: 40px; background-color: #007877;"></footer>

<!-- <script src="/js/nomina.js"></script> -->
<script src="/js/btnEditarFormEmpleados.js"></script>

</body>

</html>