<!-- modal container parametros  -->
<div class="modal_container_parametros" id="modal_container_parametros">
    <div class="modal_parametros container w-50 position-fixed mt-4 bg-light flex-xl-column flex-wrap" style="left: 25%; height: 415px;">
        <div class="seccionesParametros">
            <div class="containerCloseParametros d-flex justify-content-end w-100 align-self-start ">
                <p class="closeParametros">X</p>

            </div>
            <div class="d-flex justify-content-center">
                <h3>Mantenedor de Parametros</h3>
            </div>

            <div class="d-flex justify-content-between">
                <div class="form-group d-flex justify-content-center flex-wrap ">
                    <label for="sueldoBruto" class=" p-2">Sueldo Bruto</label>
                    <input type="text" class="form-control p-2 text-center" id="sueldoBrutoParametro">
                </div>
                <div class="form-group d-flex justify-content-center flex-wrap ">
                    <label for="afp" class="p-2">Afp</label>
                    <input type="number" class="form-control p-2 text-center" id="afpParametro" value="0.0287">
                </div>
                <div class="form-group d-flex justify-content-center flex-wrap ">
                    <label for="ars" class="p-2">Ars</label>
                    <input type="number" class="form-control p-2 text-center" id="arsParametro" value="0.03">
                </div>
                <div class="form-group d-flex justify-content-center flex-wrap ">
                    <label for="cooperativa" class="p-2">Cooperativa</label>
                    <input type="number" class="form-control p-2 text-center" id="cooperativaParametro" value="0.02">
                </div>
            </div>

            <div class="d-flex justify-content-between">
                <div class="form-group d-flex justify-content-center flex-wrap ">
                    <label for="club" class="p-2">Club</label>
                    <input type="number" class="form-control p-2 text-center" id="clubParametro" value="0.006">
                </div>
                <div class="form-group d-flex justify-content-center flex-wrap ">
                    <label for="prestamos" class="p-2">Prestamos</label>
                    <input type="number" class="form-control p-2 text-center" id="prestamosParametro" value="0.018">
                </div>

            </div>

            <button type="submit" class="btnGuardarParametros mt-5 btnFormat">Guardar Cambios</button>
        </div>
    </div>

</div>